@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@font-face { /* For Inkling Font */
    font-family: woomy;
    src: url(../../font/Paintball_Beta.otf);
}

* {
    font-family: woomy;
    /*border: 1px solid brown; */
}

body, html, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    background: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(207,82,66,1) 20%, rgba(217,62,153,1) 50%, rgba(150,89,210,1) 80%, rgba(253,187,45,1) 100%);
    background-size: 400% 400%;
	animation: Gradient 30s ease infinite;
}

#header, #options, #resultContainer {
    width: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    flex-direction: column;
    height: 25%;
    border-bottom: 1px solid lightgray;
    position: relative;
    justify-content: space-evenly;
}

/* header stuff */
#titleStuff {
    display: inline-flex;
    height: 100%;
    width: auto;
    justify-content: center;
    font-size: 1.5rem;
}

.pageTitle {
    letter-spacing: 0.2rem;
    margin: auto 0 auto 0.5rem;
    text-align: center;
    font-size: 1.8rem;
}

#imageLogo {
    display: none;
    width: auto;
    margin: 0 p0.5rem;
}
/* end of header stuff */

#searchBar {
    width: 25%;
    height: 3em;
    padding: 1rem;
    margin: 0 auto 1rem;
    border-radius: 3em;
    border: 1px solid black;
    font-size: 0.9rem;
    background: transparent;
}

.optionTab {
    width: 100%;
    height: 200%;
    position: absolute;
    bottom: -201%;
    border: 1px solid green;
}

.optionSlogan {
    text-align: center;
    font-size: 2rem;
}

.optionButton {
    width: 10%;
    height: 3rem;
    font-size: 1.3rem;
    background: transparent;
    border: 1px solid black;
    border-radius: 3rem;
    transition: all 0.45s;
}

.optionButton:hover {
    color: white;
    background: black;
}

.optionList {
    display: flex;
    justify-content: space-around;
}


#resultContainer {
    height: 75%;
}

#searchStuff {
    display: inline-block;
    text-align: center;
}

#searchContainer {
    width: auto;
    height: auto;
    margin: 0 auto;
}

.optionButtonToggled {
    color: white;
    background: black;
    width: 10%;
    height: 3rem;
    font-size: 1.3rem;
    border: 1px solid black;
    border-radius: 3rem;
}


.optionTabToggled {
    display: none;
    height: 200%;
    position: absolute;
    bottom: -201%;
}