* {
    border: 1px solid rosybrown;
}

#root {
    display: flex;
}

#category {
    display:none;
}

#sideBar {
    width: 20%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
}

.sideHeader {
    width: 100%;
    height: 5%;
}

#mainContainer {
    display: inline-flex;
    width: 80%;
    height: 100%;
    flex-direction: column;
}

#template {
    display: inline-flex;
    width: 100%;
    height: 5%;
    justify-content: space-between;
}

.templateHeaders {
    margin: auto ;
}

#post {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    height: 95%;
}

.post {
    display: inline-flex;
    width: 80%;
    height: 5%;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem auto;
}

.postContents {
    margin: auto 0;
}

.description {
    width: 100%;
    height: auto;
}

.contentDetails {
    display: inline-flex;
    width: auto;
}