@font-face { /* For Inkling Font */
    font-family: woomy;
    src: url(font/Paintball_Beta.otf);
}

* {
    font-family: woomy;
}

body, html, #root {
    width: 100%;
    height: 100%;
    margin: 0;
}

#root {
    display: flex;
}

/* main divs and placement */

#navigation, #map {
    height: 100%;
    overflow: hidden;
}

#navigation {
    width: 20%;
    background: linear-gradient(0deg, rgba(255,192,0,1) 0%, rgba(209,122,0,1) 100%);
}

#header {
    width: 100%;
    height: 7%;
}

.pageTitle {
    letter-spacing: 0.2rem;
    text-align: center;
    font-size: 1.8rem;
    margin: 0.5rem;
}

.pageLogo > img {
    height: 90%;
}

.division {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#map {
    width: 80%;
}

/* main divs and placement end */

/* buttons */
.navButton {
    width: 70%;
    height: 12%;
    border-radius: 1rem;
    border: 2px solid white;
    background: transparent;
    color: white;
    font-size: 110%;
    margin: 0 auto;
}

.navButton:hover {
    cursor: pointer;
}