@font-face { /* For Inkling Font */
    font-family: woomy;
    src: url(../../font/Paintball_Beta.otf);
}

* {
    font-family: woomy;
    /*border: 1px solid brown; */
}

#root, html, body, .blox {
    margin: 0;
    width: 100%;
    height: 100%;
}

#root, html, body {
    background: rgb(238, 238, 238);
}

#header {
    display: inline-flex;
    width: 100%;
    height: 7%;
    z-index: 2;
    background-color: rgba(0,0,0,1);
    position: fixed;
    top: 0%;
}

#header > * {
    color: white;
}

#titleStuff {
    display: inline-flex;
    height: 100%;
    width: auto;
}

#titleStuff > h2 {
    letter-spacing: 0.2rem;
    margin: auto 0 auto 0.5rem;
    text-align: center;
    font-size: 1.8rem;
}

#imageLogo {
    display: inline-flex;
    width: auto;
    margin: 0 0.5rem;
}

.pageLogo > img {
    display: table;
    height: 80%;
    margin: auto 0;
}

#category {
    height: 100%;
    width: 15%;
    margin: 0 0 0 1rem;
    font-size: 1.2rem;
}

#header-itemHolder {
    display: inline-flex;
    width: -webkit-fill-available;
    justify-content: space-evenly;
}
.items {
    margin: auto;
}

/* start of header stuff */

#mainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400%;
}

#dailyReport {
    display: inline-flex;
    background: rgb(148, 235, 255);
    background-position: center;
    background-size: cover;
}

#ReportOptions {
    display: inline-flex;
    width: 100%;
    height: auto;
    margin: 10% 0;
    justify-content: space-around;
}

.reportp {
    font-size: 1.7rem;
    color: white;
    margin: 0;
}

#listContainer {
    width: 100%;
    height: -webkit-fill-available;
    font-size: 1.8rem;
}

.column,#reportPic {
    height: 100%;
    width: 50%;
}

.column {
    display: inline-flex;
    flex-direction: column;
}

#reportPic {
    background-image: url(../../images/temp_island.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* end of the report stuff */

/* start of map stuff */

#mapMe {
    background-color: #F9EF6E;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
}

#mapRoot {
    height: 50%;
    width: 50%;
    margin: 1rem auto;
    position: relative;
}

#map {
    width: 100%;
    height: 100%;
}

#mapRoot > img {
    position: absolute;
    width: 10%;
    top: -12%;
    left: -5%;
}

.slogan {
    margin: 3rem auto 0;
    text-align: center;
    font-size: 2.3rem;
}

.redirect {
    border: none;
    display: table;
    margin: 2rem auto 0 auto;
    padding: 1rem 2rem;
    color: whitesmoke;
    background-color: #5ED4FF;
    border-radius: 2%;
}

/* camera stuff */

#cameraView {
    position: relative;
    background: #ce3c58;
}

#cameraView > span > img {
    position: absolute;
    bottom: 0%;
    right: 0%;
    height: 40%;
}

#cameraCase {
    display: inline-flex;
    height: 30%;
    width: 100%;
    justify-content: space-evenly;
    margin: 3.2rem 0;
}

.caseImage {
    width: 25%;
    background-position: center;
    background-size: cover;
    margin: 0 1rem;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
}

.caseImage > p {
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0%;
    margin: 0;
    width: 100%;
    padding: 3% 0;
    background-color: rgba(0,0,0,0.5);
}

/* stuff for forums */
#forumView {
    background: rgb(255, 240, 187);
}

/* gay link color */
a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

/* background: linear-gradient(0deg, rgba(206,142,116,1) 0%, rgba(206,60,88,1) 25%, rgba(152,224,255,1) 50%, */