@font-face { /* For Inkling Font */
    font-family: woomy;
    src: url(../../font/Paintball_Beta.otf);
}

* {
    font-family: woomy;
    /*border: 1px solid brown; */
}

#root, html, body {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

#header {
    display: none;
    width: 100%;
    height: 7%;
    z-index: 2;
    background-color: rgba(0,0,0,1);
    position: fixed;
    top: 0%;
}

#header > * {
    color: white;
}

#titleStuff {
    display: inline-flex;
    height: 100%;
    width: auto;
}

#titleStuff > h2 {
    letter-spacing: 0.2rem;
    margin: auto 0 auto 0.5rem;
    text-align: center;
    font-size: 1.8rem;
}

#imageLogo {
    display: inline-flex;
    width: auto;
    margin: 0 0.5rem;
}

.pageLogo > img {
    display: table;
    height: 80%;
    margin: auto 0;
}

#category {
    height: 100%;
    width: 15%;
    margin: 0 0 0 1rem;
    font-size: 1.2rem;
}

#header-itemHolder {
    display: inline-flex;
    width: -webkit-fill-available;
    justify-content: space-evenly;
}
.items {
    margin: auto;
}

a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
    color: white;
}