<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forums</title>
    <link rel="stylesheet" href="../css/universal.css">
    <link rel="stylesheet" href="../css/forums.css">
</head>
<body>
    
    <div id="root">

        <always :title="header.title" :img="header.image" :items="header.contents" v-scroll="handleScroll" :location="header.currentLocation"> </always>
        
        <div id="sideBar">

            <p class="sideHeader">Category</p>
            <p class="sideHeader">Sort Type</p>

        </div>

        <div id="mainContainer">

            <span id="template">
                <p class="templateHeaders" v-for="templates in forums.template">{{templates}}</p>
            </span>

            <div id="post">

                <post v-for="items in allPost(forums.getPost)" :description="items.description" :user="items.user" :date="items.date" :comments="items.comments"></post>

            </div>

        </div>

    </div>
    <script src="../testAPI/api.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../scripts/magic.js"></script>
</body>
</html>